* {
  font-family: Roboto, Arial;
  padding: 0;
  margin: 0;
}

.logo {
  width: 100px;
  height: px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #fffcc8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-self: center;
} 

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #a19f4e;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #a19f4e;
  position: absolute;
  bottom: -4px;
  left: 20px;
}